@page
@model LogInd
@{
    ViewData["Title"] = "AdminLogInd";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] AdminLogInd </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/LogInd.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Eksamensplaner.styles.css" asp-append-version="true" />
</head>
<!DOCTYPE html>

<section class="login-section">
    
    <div class="login-container">

    <div class="login-box">
        <h2>Studerende</h2>

<<<<<<< HEAD
        <form method="post" asp-page="/Student/SkemaStuderende">
=======
        <form method="post" asp-page-handler="StudentLogIn">
>>>>>>> origin/main
            <label for="student-username">Brugernavn</label>
            <input type="text" id="student-username" name="StudentUserName" placeholder="Skriv brugernavn" required>

            <label for="student-password">Adgangskode</label>
            <input type="password" id="student-password" name="StudentPassword" placeholder="Skriv adgangskode" required>
            
            <button onclick="window.location.href='/SkemaStuderende'">Log ind</button>
           
        </form>
    </div>

    <div class="login-box">
        <h2>Underviser</h2>

        <form method="post" asp-page-handler="TeacherLogIn">
            <label for="teacher-username">Brugernavn</label>
            <input type="text" id="teacher-username" name="TeacherUserName" placeholder="Skriv brugernavn" required>

            <label for="teacher-password">Adgangskode</label>
            <input type="password" id="teacher-password" name="TeacherPassword" placeholder="Skriv adgangskode" required>

            <button onclick="window.location.href='/SkemaLaerer'">Log ind</button>
        </form>
    </div>

    <div class="login-box">
        <h2>Administration</h2>

        <form method="post" asp-page-handler="AdminLogIn">
            <label for="admin-username">Brugernavn</label>
            <input type="text" id="admin-username" name="AdminUserName" placeholder="Skriv brugernavn" required>

            <label for="admin-password">Adgangskode</label>
            <input type="password" id="admin-password" name="AdminPassword" placeholder="Skriv adgangskode" required>

            <button type="submit">Log ind</button>
        </form>
    </div>

    </div>
</section>
