@page
@model PrivacyModel
@{
    ViewData["Title"] = "Om Zealand";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Om Zealand </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/OmZealand.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Eksamensplaner.styles.css" asp-append-version="true" />
</head>

<body>
<div class="title">
    <b>Velkommen til erhvervsakademiet Zealand</b>
    <hr/>
</div>
<div class ="Teksten">
    <p>
        På Zealand udbyder vi videregående uddannelser på fuld tid og deltid. 
    </p>
    <p>
        Vi sikrer løbende uddannelsernes aktualitet og kvalitet i samarbejde og dialog med regionens virksomheder – de virksomheder, som vores dimittender er i praktik i og får job i. Vores målsætning er at skabe anvendelig viden, der sikrer de studerendes, virksomhedernes og regionens konkurrenceevne nu og i fremtiden.
    </p>
    <p>
        Vores undervisere har brancheerfaring fra erhvervslivet, brænder for deres fagområder og har fokus på virksomhedernes behov.
    </p>
    <p>
        Vores undervisere har brancheerfaring fra erhvervslivet, brænder for deres fagområder og har fokus på virksomhedernes behov. Zealand er tæt på de studerende og erhvervslivet i hele regionen med vores seks afdelinger i Køge, Nykøbing Falster, Næstved, Roskilde, Slagelse og Holbæk.
    </p>  
</div>
<div class="flex-container">
    <div class="Maps-text-and-image">
        <h5> Her finder du os</h5>
        <p>Zealand ligger i 6 byer på Sjælland. På kortet kan du se, hvilke uddannelser du kan tage i hvilke studiebyer.</p>
    </div>
    <div class="Small-picture">
        <img src="Images/Maps.png" alt="Maps" ></img>
    </div>
</div>
</body>
</html>

