@page
@model PrivacyModel
@{
    ViewData["Title"] = "Om Zealand";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Om Zealand </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/OmZealand.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Eksamensplaner.styles.css" asp-append-version="true" />
</head>

<body>
<h6 class = "Sti"><a href="/Index">Forside</a> → <a href="/OmZealand">Om Zealand</a> </h6>
<h1>Er du klar til at teste studielivet?</h1>
</body>
</html>

